<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="main.html" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php" path="*php" verb="*" modules="IsapiModule" scriptProcessor="C:\phpStudy\php\php-5.4.45\php5nsapi.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
